h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 6px;
}

body {
	background-color: rgb(92, 88, 84);
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding-top: 20px;
	color: white;
}

/* Begin RegisterContainer */
.main-container {
	border: 3px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	min-height: 50%;
}

.register-form {
	background-color: rgb(72, 68, 62);
	margin: 60px 10px 10px 10px;
	min-width: 100%;
	padding: 10px;
	font-variant: small-caps;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.container-player-register {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 30%;
}

.container-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 100%;
}

.div-middle {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 50%;
	margin-top: 8px;
}

.btn-register {
	width: 40px;
	height: 40px;
	background-color: rgb(42, 40, 37);
	border-style: none;
	font-size: 30px;
	cursor: pointer;
}

.x {
	color: yellow;
}

.o {
	color: aqua;
}
/* End RegisterContainer */

/* Begin PlayContainer */
.play-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}
.grid-game {
	margin-top: 5px;
	width: 400px;
	height: 60%;
	display: grid;
	grid-template-rows: 150px 150px 150px;
	grid-template-columns: 150px 150px 150px;
}
.box {
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(136, 133, 133);
	border-top: 1px solid rgb(138, 136, 136);
	border-left: 1px solid rgb(138, 136, 136);
	cursor: pointer;
	font-size: 120px;
}

.box:nth-child(-n + 2) {
	border-top: 1px solid rgb(138, 136, 136);
}
.box:nth-child(odd) {
	border-left: 1px solid rgb(138, 136, 136);
}
/*first three cells*/
.box:nth-child(-n + 3) {
	border-top: none;
}
/* every third cells */
.box:first-child,
.box:nth-child(3n + 1) {
	border-left: none;
}

/* End Container */
